.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 1rem;
  background-color: lighten($secondary-color, 40%);
  border-radius: 0.5rem;
  margin-right: 1rem;
  align-self: flex-start;
  position: sticky;
  top: 1rem;
}

@media (max-width: 767px) {
  .content {
    margin: 1rem 0 0 1rem;
    width: calc(100% - 2rem);
    min-width: calc(100% - 2rem);
  }
}
