.sider {
  display: flex;
  flex-direction: column;
  background-color: lighten($secondary-color, 25%);
  padding: 1rem;
  border-radius: 0.5rem;
  width: 20%;
  min-width: 20%;
  margin: 0 1rem;
  color: #fff;
  
  ul {
    list-style: none;
    padding-left: 0;
  }
  
  li {
    border-bottom: 1px solid transparent;
    color: #fff;

    &:hover {
      cursor: pointer;
      border-bottom-color: $hg-text-color;
      color: $hg-text-color;
      background-color: $hg-background-color;
    }
  }
}

@media (max-width: 1200px) {
  .sider {
    width: calc(40vw - 1rem);
    min-width: calc(40vw - 1rem);
  }
}

@media (max-width: 1200px) {
  .sider {
    width: calc(40% - 1rem);
    min-width: calc(40% - 1rem);
  }
}

@media (max-width: 767px) {
  .sider {
    width: calc(100% - 2rem);
    min-width: calc(100% - 2rem);
  }
}
